---

---

<div id="hamburgerButton"
     class="flex lg:hidden w-12 h-12 flex-col items-center justify-around cursor-pointer"
>
    <div class="stripe w-[90%] h-1"></div>
    <div class="stripe w-[90%] h-1"></div>
    <div class="stripe w-[90%] h-1"></div>
</div>

<style>
    .stripe {
        background-color: var(--gray);
    }
</style>