---
import Layout from '../partials/Layout.astro';
import { AccountForm } from '../partials/AccountForm/AccountForm';
---

<Layout>
    <section class="w-full h-[75vh] flex justify-center items-center">
        <AccountForm mode="login" />
    </section>
</Layout>

