---
import Layout from '../partials/Layout.astro';
import AccountForm from '../partials/AccountForm.astro';
---

<Layout>
    <section class="w-full h-[75vh] flex justify-center items-center">
        <AccountForm mode="register" />
    </section>
</Layout>

<script>
    const form = document.querySelector('form');
    const data = new FormData(form);
    const inputs = document.querySelectorAll('input');
    let errors = [];

    //register fetch

        form.addEventListener('submit', function(e) {
            e.preventDefault();

            inputs.forEach(item => {
                data.append(item.name, item.value);
            });

            const paragraphs = document.querySelectorAll('p');
            paragraphs.forEach(item => item.remove());

            fetch('http://localhost:8000/register', {
                method : "POST",
                body: data
            })
                .then(res => res.json())
                .then(data => {
                    const err = [];
                    if(data.errors) {
                        data.errors.forEach(item => {
                            err.push(item);
                        })
                    }
                    if(data.message) {
                        window.location.href = '/login';
                    }
                    errors = err;
                })
                .then(() => {
                    errors.forEach(item => {
                        const p = document.createElement('p');
                        p.innerText = item;
                        p.className = "text-red-500 font-small";
                        form.appendChild(p);
                    });
                })
        })
</script>
