---
import shortenImage1 from '../../images/bg-shorten-desktop.svg';
import shortenImage2 from '../../images/bg-shorten-mobile.svg';
---

<section id="formWrapper" class="w-full p-6 lg:pr-36 lg:pl-36 flex justify-center items-center mt-24">
    <form class="w-full relative h-44 md:h-32 p-3 md:p-0 flex-col md:flex-row flex gap-4 justify-center items-center rounded-xl">
        <img
                src={shortenImage1.src as string}
                alt="background of form"
                class="absolute w-full h-full rounded-xl hidden md:block"
        />
        <img
                src={shortenImage2.src as string}
                alt="background of form"
                class="absolute w-full h-full rounded-xl block md:hidden"
        />
        <input name="url" class="text-sm md:text-base w-[85%] md:w-[72%] h-2/5 z-50 p-4 outline-none rounded-xl font-small" type="text"
               placeholder="Shorten link here..."/>
        <button
                id="btn"
                class="w-[85%] md:w-[18%] z-50 text-base h-2/5  p-4 text-white font-big rounded-xl cursor-pointer transition-colors"
                type="submit"
        >
            Shorten It!
        </button>
    </form>
</section>

<script>
    const form = document.querySelector('form');

    function handleSubmit(e) {
        e.preventDefault();
        const data = new FormData(e.target);

        fetch('http://localhost:8000/shorten', {
            method: "POST",
            body: data
        })
            .then(res => res.json())
            .then(data => {
                console.log(data);
            })
    }

    form.addEventListener('submit', handleSubmit);
</script>

<style>
    form {
        background-color: var(--dark-violet);
        transform: translateY(60%);
    }

    #btn {
        background-color: var(--cyan);
    }

    #btn:hover {
        background-color: #1ce0e0;
    }
</style>
