---
import { Image } from 'astro:assets';
import shortenImage1 from '../../images/bg-shorten-desktop.svg';
import shortenImage2 from '../../images/bg-shorten-mobile.svg';
---

<section id="formWrapper" class="w-full p-6 lg:pr-36 lg:pl-36 flex flex-col justify-center items-center mt-24">
    <form class="w-full relative h-44 md:h-32 p-3 md:p-0 flex-col md:flex-row flex gap-4 justify-center items-center rounded-xl">
        <Image
                src={shortenImage1}
                alt="background of form"
                class="absolute w-full h-full rounded-xl hidden md:block"
        />
        <Image
                src={shortenImage2}
                alt="background of form"
                class="absolute w-full h-full rounded-xl block md:hidden"
        />
        <input name="url" class="text-sm md:text-base w-[85%] md:w-[72%] h-2/5 z-50 p-4 outline-none rounded-xl font-small" type="text"
               placeholder="Shorten link here..."/>
        <button
                id="btn"
                class="w-[85%] md:w-[18%] z-50 text-base h-2/5  p-4 text-white font-big rounded-xl cursor-pointer transition-colors"
                type="submit"
        >
            Shorten It!
        </button>
    </form>
    <section class="url flex flex-col lg:flex-row justify-evenly lg:justify-between w-full bg-white p-3 rounded-xl">
        <div class="font-big lg:text-base text-xs lg:text-left text-center lg:m-0 m-2">
            https://www.youtube.com/watch?v=BLO6LRPMUp8&t=1268s
        </div>
        <div class="font-big cyan lg:text-base text-xs lg:text-left text-center lg:m-0 m-2">
            http://localhost:8000/l/NDZiN
        </div>
    </section>
</section>

<script>
    const form = document.querySelector('form');

    function handleSubmit(e) {
        e.preventDefault();
        const data = new FormData(e.target);

        fetch('http://localhost:8000/shorten', {
            method: "POST",
            body: data
        })
            .then(res => res.json())
            .then(data => {
                if(data.message) {
                    addUrl(data.longURL, data.shortURL);
                }
                else {
                    alert('An error occured during shortening ! Try Again');
                }
            })
    }

    function addUrl(longUrl, shortUrl) {
        const formWrapper = document.querySelector('#formWrapper');

        const section = document.createElement('section');
        const div1 = document.createElement('div');
        const div2 = document.createElement('div');

        section.className = "url flex flex-col lg:flex-row justify-evenly lg:justify-between w-full bg-white p-3 rounded-xl";
        div1.className = "font-big lg:text-base text-xs lg:text-left text-center lg:m-0 m-2";
        div2.className = "font-big cyan lg:text-base text-xs lg:text-left text-center lg:m-0 m-2";
        div2.style.color = "#2ACFCFFF";

        section.style.marginBottom = "1rem";
        section.style.marginTop = "1rem";
        section.style.transform = "translateY(150%)";
        section.style.boxShadow = "rgba(0, 0, 0, 0.16) 0px 1px 4px";

        div1.innerText = longUrl;
        div2.innerText = `http://localhost:8000/l/${shortUrl}`;

        section.appendChild(div1);
        section.appendChild(div2);
        formWrapper.appendChild(section);
    }

    form.addEventListener('submit', handleSubmit);
</script>

<style>
    .url {
        margin-top: 1rem;
        margin-bottom: 1rem;
        transform: translateY(150%);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    form {
        background-color: var(--dark-violet);
        transform: translateY(60%);
    }

    .cyan {
        color: var(--cyan);
    }

    #btn {
        background-color: var(--cyan);
    }

    #btn:hover {
        background-color: #1ce0e0;
    }
</style>
