---

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Shortly</title>
    <meta name="author" content="Krystian Zieja" />
    <meta name="description" content="URL shortener online" />
    <meta name="keywords" content="url, short, shortener" />
</head>
<body>
    <slot />
</body>
</html>

<style is:global>
   @font-face {
       font-family: 'Poppins';
       src: url('/fonts/Poppins-Medium.woff2') format('woff2');
       font-weight: 500;
       font-style: normal;
   }

   @font-face {
       font-family: 'Poppins';
       src: url('/fonts/Poppins-Bold.woff2') format('woff2');
       font-weight: 700;
       font-style: normal;
   }

   .font-big {
       font-family: 'Poppins', sans-serif;
       font-weight: 700;
   }

   .font-small {
       font-family: 'Poppins', sans-serif;
       font-weight: 500;
   }

   :root {
       --cyan: hsl(180, 66%, 49%);
       --dark-violet: hsl(257, 27%, 26%);
       --red: hsl(0, 87%, 67%);
       --gray: hsl(0, 0%, 75%);
       --grayish-violte: hsl(257, 7%, 63%);
       --dark-blue: hsl(255, 11%, 22%);
       --very-dark-violte: hsl(260, 8%, 14%);
   }
</style>