---

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Shortly</title>
    <meta name="author" content="Krystian Zieja" />
    <meta name="description" content="URL shortener online" />
    <meta name="keywords" content="url, short, shortener" />
</head>
<body>
    <slot />
</body>
</html>

<style is:global>
   @font-face {
       font-family: 'Poppins';
       src: url('/fonts/Poppins-Medium.woff2') format('woff2');
       font-weight: 500;
       font-style: normal;
   }

   @font-face {
       font-family: 'Poppins';
       src: url('/fonts/Poppins-Bold.woff2') format('woff2');
       font-weight: 700;
       font-style: normal;
   }

   .font-big {
       font-family: 'Poppins', sans-serif;
       font-weight: 700;
   }

   .font-small {
       font-family: 'Poppins', sans-serif;
       font-weight: 500;
   }

</style>