---
import { Image } from 'astro:assets';
import logo from '../images/logo.svg';
---

<div id="hamburger-menu" class="rounded-2xl fixed w-[80%] ml-[10%] mt-[8rem] h-auto flex flex-col p-6 items-center">
    <a href="#" class="font-big text-center text-white transition-colors mt-2 mb-2 text-lg w-full">Features</a>
    <a href="#" class="font-big text-center text-white transition-colors mt-2 mb-2 text-lg w-full">Pricing</a>
    <a href="#" class="font-big text-center text-white transition-colors mt-2 mb-2 text-lg w-full">Resources</a>
    <div id="separator" class="w-[85%] h-[1px] opacity-50 stripe m-2"></div>
    <button class="cursor-pointer text-center w-full mt-2 mb-2 font-big grayish-violet h-dark-violet transition-colors">Login</button>
    <button class="p-2 pl-6 pr-6 text-center w-full mt-2 mb-2 rounded-3xl cursor-pointer font-big text-white bg-cyan hover:opacity-60 transition-opacity">Sign Up</button>
</div>
<nav class="w-full flex items-center justify-between p-12 lg:pr-36 lg:pl-36">
    <div class="flex items-center">
        <Image src={logo} alt="Shortly Logo Icon" />
        <section class="ml-6 hidden lg:block" id="urls">
            <a href="#" class="grayish-violet font-big ml-12 transition-colors">Features</a>
            <a href="#" class="grayish-violet font-big ml-12 transition-colors">Pricing</a>
            <a href="#" class="grayish-violet font-big ml-12 transition-colors">Resources</a>
        </section>
    </div>
    <section class="justify-self-end hidden lg:block">
        <button class="cursor-pointer font-big mr-6 grayish-violet h-dark-violet transition-colors">Login</button>
        <button class="p-2 pl-6 pr-6 rounded-3xl cursor-pointer font-big text-white bg-cyan hover:opacity-60 transition-opacity">Sign Up</button>
    </section>
    <div id="hamburgerButton"
         class="flex lg:hidden w-12 h-12 flex-col items-center justify-around cursor-pointer"
    >
        <div class="stripe w-[90%] h-1"></div>
        <div class="stripe w-[90%] h-1"></div>
        <div class="stripe w-[90%] h-1"></div>
    </div>
</nav>

<script>

</script>

<style>
    .grayish-violet {
        color: var(--grayish-violet);
    }

    .stripe {
        background-color: var(--gray);
    }

    a:hover, .h-dark-violet:hover {
        color: var(--very-dark-violet);
    }

    .bg-cyan {
        background-color: var(--cyan);
    }

    #hamburger-menu {
        background-color: var(--dark-violet);
    }


</style>