---
import { Image } from 'astro:assets';
import logo from '../images/logo.svg';
---

<nav>
    <Image src={logo} alt="Shortly Logo Icon" />
    <section id="urls">
        <a>Features</a>
        <a>Pricing</a>
        <a>Resources</a>
    </section>
    <section>
        <button>Login</button>
        <button>Sign Up</button>
    </section>
</nav>