---
import { Image } from 'astro:assets';
import logo from '../images/logo.svg';
---

<nav class="w-full flex items-center justify-between p-6 pr-36 pl-36">
    <div class="flex items-center">
        <Image src={logo} alt="Shortly Logo Icon" />
        <section class="ml-6" id="urls">
            <a class="font-big">Features</a>
            <a class="font-big">Pricing</a>
            <a class="font-big">Resources</a>
        </section>
    </div>
    <section class="justify-self-end">
        <button>Login</button>
        <button>Sign Up</button>
    </section>
</nav>