---

---

<section class="w-full whitesmoke flex flex-col items-center">
    <h2 class="font-big text-4xl mt-20">Advanced Statistics</h2>
    <p class="mt-5 font-small text-lg max-w-[90%] md:max-w-[30%] text-center">
        Track how your links are performing across the web
        with our advanced statistics dashboard.
    </p>
    <div id="pros" class="h-40">

    </div>
</section>

<style>
    .whitesmoke { background-color: whitesmoke; }
    h1 { color: var(--very-dark-violet); }
    p { color: var(--grayish-violet); }
</style>